/*==police*/

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*==general*/

*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif, Arial, Helvetica;
}

body{
    margin: 0;
}

main{
    margin: 0 auto;
    max-width: 1440px;
}

hr{
    border-top: 1px dashed lightgray;
}

/*==headings*/

h1{
    font-size: 50px;
}

h1, h2{
    font-family: 'Russo One', 'Roboto Condensed', Impact, sans-serif;
    color: #F1D302;
    text-shadow: 0 0 5px black;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    margin-top: 30px;
}

header p{
    font-size: 30px;
}

/*==nav*/

nav{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    border: 8px solid #F1D302;
    border-radius: 20px;
    background-color: grey;
    padding-bottom: 16px;
}


nav ol{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    list-style-type: none;
}

nav ol li{
    border-radius: 20px;
    box-shadow: 0 1px 3px 1px darkorange;
    padding: 25px;
    background-color: #F1D302;
    text-align: center;
    width: 600px;
}

nav ol li:hover{
  background-color: #c5ab03;  
}

nav ol li::marker{
    color: whitesmoke;
    font-size: 18px;
}

nav ol li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}


nav p{
    color: whitesmoke;
    font-weight: bold;
    font-size: 28px;
    text-shadow: 0 0 3px black;
}

/*==section*/

section{
    border: 5px solid black;
    border-radius: 20px;
    padding: 32px;
    
}

/*==article*/

.article__chapeau{
    font-weight: bold;
}

h2{
    font-size: 32px;
}

article p{
    font-size: 20px;
}

/*==footer*/

footer{
    background-color: grey;
    border-top: #F1D302 10px solid;
    height: 220px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h5{
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 0 0 3px black;
}

footer ul{
    margin: 0;
    display: flex;
    gap: 40px;
    list-style-type: none;
}

footer ul li a{
    font-size: 15px;
    color: whitesmoke;
    text-shadow: 0 0 3px black;
    text-decoration: none;
    border-bottom: 2px solid #F1D302;
    padding-bottom: 5px;
}

