/*==police*/

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*==general*/

*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif, Arial, Helvetica;
}

body{
    margin: 0;
    background-color: rgb(225, 252, 252);
}

main{
    margin: 0 auto;
    max-width: 1440px;
}

hr{
    background-color: #F1D302;
    height: 3px;
    border: none;
    width: 600px ;
    margin-top: 40px;
    margin-bottom: 40px;
}

nav,section{
    width: 90%;
    margin-inline: auto;
}

/*==headings*/

h1{
    font-size: 40px;
}

h1, h2{
    font-family: 'Russo One', 'Roboto Condensed', Impact, sans-serif;
    color: #F1D302;
    text-shadow: 0 0 5px black;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    padding-top: 30px;
    background-color: grey;
    height: 180px;
    border-bottom:#F1D302 10px solid ;
    margin-bottom: 80px;
}

header p{
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 0 0 3px black;
}

/*==nav*/

nav{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    border: 6px solid #F1D302;
    border-radius: 20px;
    background-color: grey;
    padding-bottom: 16px;
}


nav ol{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}

nav ol li{
    border-radius: 20px;
    box-shadow: 0 1px 3px 1px darkorange;
    padding: 25px;
    background-color: #F1D302;
    text-align: center;
    width: 600px;
}

nav ol li:hover{
  background-color: #c5ab03;  
}

nav ol li::marker{
    color: whitesmoke;
    font-size: 18px;
}

nav ol li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
}


nav p{
    color: whitesmoke;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 0 3px black;
}

/*==section*/

section{
    border: 6px solid #F1D302;
    border-radius: 20px;
    padding: 32px;
    background-color: grey;
    
}

/*==article*/

.article__part{
    border-radius: 20px;
    border: 4px solid #F1D302 ;
    padding: 16px;
    margin: 30px;
    background-color: white ;
}

.article__chapeau{
    font-weight: bold;
}

.article__intro, .article__chapeau{
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 3px black;
}


h2{
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
}

h3{
    font-size: 26px;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 2px ;
    border-bottom: solid darkorange;
    border-top: solid darkorange;
    padding: 10px;
    background-color: #F1D302;;
    box-shadow: 2px 2px 1px 0px #c5ab03;
    margin-top: 10px;
}

article p{
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}

strong{
    border-bottom: #F1D302 2px solid;
}

.article__link{
    text-align: center;
}
.article__link a{
    color: black;
}
.article__link a:hover{
    color: darkorange;
}

/*==sources*/

aside ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding-left: 0;
}

aside ul li a{
    text-decoration: none;
    color: #F1D302;
    text-shadow: 0 0 3px black;
}

aside ul li a:hover{
    color: darkorange;
    text-shadow: 0 0 3px black;
}

h4{
    text-align: center;
    color: whitesmoke;
    letter-spacing: 2px;
    text-shadow: 0 0 3px black;
}

/*==table*/
table{
    margin: auto;
    width: 85%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td{
    border: 2px solid grey;
    padding: 8px;
    text-align: center;
}
thead tr th{
    background-color: #F1D302;
}
caption{
    padding: 10px;
    background-color: lightgray;
    border: solid 2px lightgray;
    font-weight: bold;
    letter-spacing: 2px;
}
.table__names{
    border-left-color: lightgray;
    font-weight: bold;
}
.table__fonctions{
    border-right-color:lightgray;
}


/*==footer*/

footer{
    background-color: grey;
    border-top: #F1D302 10px solid;
    height: 180px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h5{
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 0 0 3px black;
}

footer ul{
    margin: 0;
    display: flex;
    gap: 40px;
    list-style-type: none;
}

footer ul li a{
    font-size: 15px;
    color: whitesmoke;
    text-shadow: 0 0 3px black;
    text-decoration: none;
    border-bottom: 2px solid #F1D302;
    padding-bottom: 5px;
}

footer ul li a:hover{
    padding-bottom: 8px;
}
